* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --gray-100: #f8f8f8;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000000;
}

// TODO
body {
  background: #282c34de; // .87 opacity
  color: var(--gray-100);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Inter", sans-serif;
}
