* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --gray-100: #f8f8f8;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000000;

  --primary--text: #FF57B2
}

// TODO
body {
  background: #282c34de; // .87 opacity
  color: var(--gray-100);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.625rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.875rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.125rem;
}

p,
li {
  font-size: 1.125rem;
}

a {
  color: inherit;
  transition: .2s filter;
  text-decoration: none;

  &:active,
  &:hover,
  &:visited {
    filter: brightness(.84);
  }
}

button {
  background-color: transparent;
  transition: .2s filter;
  cursor: pointer;
  outline: none;
  border: none;

  &:active,
  &:hover,
  &:visited {
    filter: brightness(.84);
  }
}
