// TODO
.contentContainer {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 1rem;
}

.box {
  margin-bottom: 3rem;
}

.title {
  font-weight: 700;
  font-size: 1.75rem;
  padding-bottom: .5rem;
}

.subtitle {
  font-size: 1.125rem;
  padding-bottom: 1.5rem;
}
