// TODO
.bannerContainer {
  max-width: 1440px;
  margin: 0 auto 5rem;

  img {
    width: 100%;
  }
}

.contentContainer {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 1rem 3.5rem;
  text-align: justify;

  h1 {
    padding-bottom: 1.5rem;
  }

  ul,
  ol {
    padding-left: 1.25rem;
  }

  p,
  li {
    padding-bottom: 1.5rem;
  }

  h3 {
    padding: 2.5rem 0;
  }

  a {
    color: var(--primary--text);
  }
}
